/RVMDK/Output
/Debug
/Release
/EWARM/Debug
/settings
/.settings
/build
/packages
*.old
*.map
JLink*.*
*.uvgui.*
*.uvguix.*
project.*
*.dblite
*.out
*.o
*.pyc
*.log
*.bin
*.axf
*.dep
*.ewd
*.ewp
cconfig.h
